<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productBoardMapper">

	<resultMap type="ProductBoard" id="PBResultSet">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="SELL_LOCATION" property="sellLocation"/>
		<result column="KIND_NO" property="kindNo"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="BoardContent"/>
		<result column="PRICE" property="price"/>
		<result column="COUNT" property="count"/>
		<result column="TRADE_SELL_STATUS" property="tradeSellStatus"/>
		<result column="TRADE_BUY_STATUS" property="tradeBuyStatus"/>
		<result column="BOARD_DECLARATION" property="boardDeclaration"/>
		<result column="BOARD_RATIING" property="BoardRatting"/>
		<result column="SELL_WAY" property="sellWay"/>
		<result column="TAG_19_PRODUCT" property="tag19Product"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="BUYER_ID" property="buyerId"/>
		<result column="AFTER_BUY_REPLY" property="afterBuyReply"/>
		<result column="TITLE_IMG" property="titleImg"/>
		<result column="PREFER_PAYMENT" property="preferPayment"/>
	</resultMap>
	
	<resultMap type="ProductInfo" id="productResultSet">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="CREATE_LOCATION" property="createLocation"/>
		<result column="PURCHASE_DATE" property="PurchaseDate"/>
	</resultMap>
	
	<resultMap type="Notice" id="NResultSet">
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_WRITER" property="noticeWriter"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="COUNT" property="count"/>
	</resultMap>
	
	<resultMap type="Request" id="RResultMap">
		<result column="REQUEST_NO" property="requestNo"/>
		<result column="REQUEST_WRITER" property="requestWriter"/>
		<result column="REQUEST_TITLE" property="requestTitle"/>
		<result column="REQUEST_CONTENT" property="requestContent"/>
		<result column="REQUEST_DATE" property="requestDate"/>
		<result column="LOCK_STATUS" property="lockStatus"/>
	</resultMap>
	
	<resultMap type="Response" id="ResResultMap">
		<result column="RESPONSE_NO" property="responseNo"/>
		<result column="REQUEST_NO" property="requestNo"/>
		<result column="RESPONSE_WRITER" property="responseWriter"/>
		<result column="RESPONSE_CONTENT" property="responseContent"/>
		<result column="RESPONSE_DATE" property="responseDate"/>
	</resultMap>
	
	<resultMap type="Location" id="LocResultSet">
		<result column="LOCATION_NO" property="locationNo"/>
		<result column="LOCATION_NAME" property="locationName"/>
		<result column="LOCATION_DETAIL_1" property="locationDetail1"/>
		<result column="LOCATION_DETAIL_2" property="locationDetail2"/>
	</resultMap>
	
	<resultMap type="Category" id="CateResultSet">
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="CATEGORY_DETAIL_NAME" property="categoryDetailName"/>
		<result column="CATEGORY_IMG" property="categoryImg"/>
	</resultMap>
	
	<resultMap type="Kind" id="kindResultSet">
		<result column="KIND_NO" property="kindNo"/>
		<result column="KIND_NAME" property="kindName"/>
	</resultMap>
	
	<resultMap type="Media" id="MediaResultSet">
		<result column="MEDIA_NO" property="mediaNo"/>
		<result column="REF_BNO" property="refBno"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="MEDIA_PATH" property="mediaPath"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
	</resultMap>
	
	<resultMap type="ReportUser" id="ReportResultSet">
		<result column="USER_ID" property="userId"/>
		<result column="WARNNING_DATE" property="reportDate"/>
		<result column="ORIGIN_NAME" property="declarationId"/>
	</resultMap>
	
	<resultMap type="ChatInfo" id="ChatResultSet">
		<result column="CHAT_NO" property="chatNo"/>
		<result column="SELLER_ID" property="sellerId"/>
		<result column="BUYER_ID" property="buyerId"/>
		<result column="FILE_FULLNAME" property="fileFullName"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	<select id="listCount" parameterType="User" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_PRODUCTBOARD
		WHERE	BOARD_WRITER = #{userId}
	</select>
	
	<select id="selectProductAll" parameterType="User" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		WHERE	BOARD_WRITER = #{userId}
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="selectProductSell" parameterType="User" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		WHERE	BOARD_WRITER = #{userId}
		AND		TRADE_SELL_STATUS = 'S'
		AND		TRADE_BUY_STATUS = 'S'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="selectProductReserv" parameterType="User" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		WHERE	BOARD_WRITER = #{userId}
		AND		TRADE_SELL_STATUS = 'R'
		AND		TRADE_BUY_STATUS = 'R'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="selectProductDone" parameterType="User" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		WHERE	BOARD_WRITER = #{userId}
		AND		TRADE_SELL_STATUS = 'D'
		AND		TRADE_BUY_STATUS = 'D'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="noticeCount" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_NOTICE
	</select>
	
	<select id="selectNotice" resultMap="NResultSet">
		SELECT	*
		FROM	TB_NOTICE
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="selectNoticeOne" parameterType="Notice" resultMap="NResultSet">
		SELECT	*
		FROM	TB_NOTICE
		WHERE	NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="updateCount" parameterType="Notice">
		UPDATE	TB_NOTICE
		SET		COUNT = COUNT + 1
		WHERE	NOTICE_NO = #{noticeNo}
	</update>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE	TB_NOTICE
		SET		NOTICE_TITLE = #{noticeTitle},
				NOTICE_CONTENT = #{noticeContent},
				MODIFY_DATE = SYSDATE
		WHERE	NOTICE_NO = #{noticeNo}
	</update>
	
	<delete id="deleteNotice" parameterType="Notice">
		DELETE FROM	TB_NOTICE
		WHERE	NOTICE_NO = #{noticeNo}
	</delete>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO TB_NOTICE(NOTICE_NO,
							  NOTICE_TITLE,
							  NOTICE_WRITER,
							  NOTICE_CONTENT)
		VALUES(SEQ_NOTICENO.NEXTVAL, #{noticeTitle}, #{noticeWriter}, #{noticeContent})
	</insert>
	
	<select id="myPickCount" parameterType="String" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_MYPICK
		WHERE	USER_ID = #{userId}
	</select>
	
	<select id="selectPBList" parameterType="String" resultMap="PBResultSet">
		SELECT  *
		FROM    TB_PRODUCTBOARD
		WHERE   BOARD_NO IN (SELECT BOARD_NO
		                     FROM   TB_MYPICK
		                     WHERE  USER_ID = #{userId})
	</select>
	
	<select id="buyProductCount" parameterType="String" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_PRODUCTBOARD
		WHERE	BUYER_ID = #{userId}
	</select>
	
	<select id="buyProductList" parameterType="String" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		WHERE	BUYER_ID = #{userId}
	</select>
	
	<select id="requestCount" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_REQUEST
	</select>
	
	<select id="requestList" resultMap="RResultMap">
		SELECT	*
		FROM	TB_REQUEST
		ORDER BY REQUEST_NO DESC
	</select>
	
	<select id="selectRequest" parameterType="Request" resultMap="RResultMap">
		SELECT	*
		FROM	TB_REQUEST
		WHERE	REQUEST_NO = #{requestNo}
	</select>
	
	<update id="updateRequest" parameterType="Request">
		UPDATE	TB_REQUEST
		SET		REQUEST_TITLE = #{requestTitle},
				REQUEST_CONTENT = #{requestContent}
		WHERE	REQUEST_WRITER = #{requestWriter}
	</update>
	
	<delete id="deleteRequest" parameterType="_int">
		DELETE FROM	TB_REQUEST
		WHERE	REQUEST_NO = #{requestNo}
	</delete>
	
	<insert id="insertRequest" parameterType="Request">
		INSERT INTO TB_REQUEST(REQUEST_NO,
							   REQUEST_WRITER,
							   REQUEST_TITLE,
							   REQUEST_CONTENT,
							   LOCK_STATUS)
		VALUES(SEQ_RQNO.NEXTVAL, #{requestWriter}, #{requestTitle}, #{requestContent}, #{lockStatus})
	</insert>
	
	<insert id="insertResponse" parameterType="Response">
		INSERT INTO TB_RESPONSE(RESPONSE_NO,
								REQUEST_NO,
								RESPONSE_WRITER,
								RESPONSE_CONTENT)
		VALUES(SEQ_RESNO.NEXTVAL, #{requestNo}, #{responseWriter}, #{responseContent})						
	</insert>
	
	<select id="selectResponse" parameterType="Response" resultMap="ResResultMap">
		SELECT	*
		FROM	TB_RESPONSE
		WHERE	REQUEST_NO = #{requestNo}
	</select>
	
	<delete id="deleteResponse" parameterType="Response">
		DELETE FROM	TB_RESPONSE
		WHERE	REQUEST_NO = #{requestNo}
	</delete>
	
	<select id="selectLocationList" parameterType="Category" resultMap="CateResultSet">
		SELECT	*
		FROM	TB_CATEGORY
	</select>
	
	<select id="selectKindList" parameterType="Kind" resultMap="kindResultSet">
		SELECT	*
		FROM	TB_KIND
	</select>
	
	<select id="selectDetailCateList" parameterType="Category" resultMap="CateResultSet">
		SELECT	*
		FROM	TB_CATEGORY
		WHERE	CATEGORY_NAME = #{categoryName}
	</select>
	
	<select id="makeBoardNo" resultType="_int">
		SELECT	SEQ_PRONO.NEXTVAL
		FROM	DUAL
	</select>
	
	<insert id="insertProductBoard" parameterType="ProductBoard">
		INSERT INTO TB_PRODUCTBOARD(BOARD_NO,
									BOARD_WRITER,
									CATEGORY_NO,
									SELL_LOCATION,
									KIND_NO,
									PRODUCT_STATUS,
									BOARD_TITLE,
									BOARD_CONTENT,
									PRICE,
									SELL_WAY,
									TAG_19_PRODUCT,
									TITLE_IMG,
									PREFER_PAYMENT)
		VALUES(#{boardNo}, #{boardWriter}, #{categoryNo}, #{sellLocation}, #{kindNo}, #{productStatus}, #{boardTitle}, #{boardContent}, #{price}, #{sellWay}, #{tag19Product}, #{titleImg}, #{preferPayment})
	</insert>
	
	<insert id="insertProductInfo" parameterType="ProductInfo">

		INSERT INTO TB_PRODUCTINFO(BOARD_NO,
								   PRODUCT_NAME,
								   CREATE_LOCATION,
								   PURCHASE_DATE)
		VALUES(#{boardNo}, #{productName}, #{createLocation}, #{purchaseDate})
	</insert>
	
	<insert id="insertMediaFile" parameterType="arraylist">
		INSERT ALL
		<foreach collection="list" item="media">
			INTO TB_MEDIA(MEDIA_NO,
						  REF_BNO,
						  ORIGIN_NAME,
						  CHANGE_NAME,
						  MEDIA_PATH)
			VALUES(PBID(${media.refBno}), #{media.refBno}, #{media.originName}, #{media.changeName}, #{media.mediaPath})
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<select id="selectRecentBoard" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		WHERE   ROWNUM BETWEEN 1 AND 5 
		ORDER BY CREATE_DATE
	</select>
	
	<select id="listAllCount" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_PRODUCTBOARD
	</select>
	
	<select id="topFiveProduct" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		ORDER BY COUNT	
	</select>
	
	<select id="getCateCount" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_CATEGORY
	</select>
	
	<select id="getCate" resultMap="CateResultSet">
		SELECT	*
		FROM	TB_CATEGORY
	</select>
	
	<select id="categoryDetailFilter" parameterType="Category" resultMap="CateResultSet">
		SELECT	*
		FROM	TB_CATEGORY
		WHERE	CATEGORY_NAME = #{categoryName}
	</select>
	
	<select id="locationFilter" resultMap="LocResultSet">
		SELECT	*
		FROM	TB_LOCATION
	</select>
	
	<select id="locationDeep1Filter" parameterType="Location" resultMap="LocResultSet">
		SELECT	*
		FROM	TB_LOCATION
		WHERE	LOCATION_NAME = #{locationName}
	</select>
	
	<select id="locationDeep2Filter" parameterType="Location" resultMap="LocResultSet">
		SELECT	*
		FROM	TB_LOCATION
		WHERE	LOCATION_NAME = #{locationName}
		AND		LOCATION_DETAIL_1 = #{locationDetail1}
	</select>
	
	<select id="getCategoryNo" parameterType="Category" resultMap="CateResultSet">
		SELECT	CATEGORY_NO
		FROM	TB_CATEGORY
		<where>
			<choose>
				<when test="categoryName != null">
					CATEGORY_NAME = #{categoryName}
				</when>
				<when test="categoryDetailName != null">
					CATEGORY_DETAIL_NAME = #{categoryDetailName}
				</when>
			</choose>
		</where>
	</select>
	
	<select id="getLocationNo" parameterType="Location" resultMap="LocResultSet">
		SELECT	LOCATION_NO
		FROM	TB_LOCATION
		<where>
			<choose>
				<when test="locationName != null">
					LOCATION_NAME = #{locationName}
				</when>
				<when test="locationDetail1 != null">
					LOCATION_DETAIL_1 = #{locationDetail1}
				</when>
				<when test="locationDetail2 != null">
					LOCATION_DETAIL_2 = #{locationDetail2}
				</when>
			</choose>
		</where>
	</select>
	
	<select id="searchFilterBoard" parameterType="ProductBoard" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		<where>
			<choose>
				<when test="categoryNo != 0">
					CATEGORY_NO = #{categoryNo}
				</when>
				<when test="sellLocation != null">
					SELL_LOCATION = #{sellLocation}
				</when>
				<when test="kindNo != 0">
					KIND_NO = #{kindNo}
				</when>
				<when test="productStatus != null">
					PRODUCT_STATUS = #{productStatus}
				</when>
				<when test="sellWay != null">
					SELL_WAY = #{sellWay}
				</when>
			</choose>
		</where>
	</select>
	
	<select id="boardDetailForm" parameterType="ProductBoard" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		WHERE	BOARD_NO = #{boardNo}
	</select>
	
	<select id="boardCategory" parameterType="Category" resultMap="CateResultSet">
		SELECT	*
		FROM	TB_CATEGORY
		WHERE	CATEGORY_NO = #{categoryNo}
	</select>
	
	<select id="selectProductInfo" parameterType="ProductInfo" resultMap="productResultSet">
		SELECT	*
		FROM	TB_PRODUCTINFO
		WHERE	BOARD_NO = #{boardNo}
	</select>
	
	<select id="selectMediaFile" parameterType="Media" resultMap="MediaResultSet">
		SELECT	*
		FROM	TB_MEDIA
		WHERE	REF_BNO = #{boardNo}
	</select>
	
	<update id="updateBoardCount" parameterType="ProductBoard">
		UPDATE	TB_PRODUCTBOARD
		SET		COUNT = COUNT + 1
		WHERE	BOARD_NO = #{boardNo}
	</update>
	
	<select id="insertMyPick" parameterType="ProductBoard">
		INSERT INTO TB_MYPICK VALUES(#{boardWriter}, #{boardNo})
	</select>
	
	<select id="checkPick" parameterType="ProductBoard" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_MYPICK
		WHERE	USER_ID = #{boardWriter}
		AND		BOARD_NO = #{boardNo}
	</select>
	
	<delete id="deleteMyPick" parameterType="ProductBoard">
		DELETE FROM	TB_MYPICK
		WHERE	USER_ID = #{boardWriter}
		AND		BOARD_NO = #{boardNo}
	</delete>
	
	<update id="reportBoard" parameterType="ProductBoard">
		UPDATE	TB_PRODUCTBOARD
		SET		BOARD_DECLARATION = 'Y'
		WHERE	BOARD_NO = #{boardNo}
	</update>
	
	<insert id="insertReport" parameterType="ReportUser">
		INSERT INTO TB_WRANNING(USER_ID
							    DECLARATION_ID) 
		VALUES(#{userId}, #{declarationId})
	</insert>
	
	<select id="checkChatDul" parameterType="ChatInfo" resultType="_int">
		SELECT	COUNT(*)
		FROM	TB_CHAT
		WHERE	FILE_FULLNAME = #{fileFullName}
	</select>
	
	<insert id="insertChatInfo" parameterType="ChatInfo">
		INSERT INTO TB_CHAT(CHAT_NO,
							SELLER_ID,
							BUYER_ID,
							FILE_FULLNAME)
		VALUES(SEQ_CHATNO.NEXTVAL, #{sellerId}, #{buyerId}, #{fileFullName})
	</insert>
	
	<select id="productSearch" parameterType="String" resultMap="PBResultSet">
		SELECT	*
		FROM	TB_PRODUCTBOARD
		WHERE	BOARD_TITLE LIKE '%'||#{searchValue}||'%'
	</select>
	
</mapper>